body {
	margin: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.6;
	color: #333;

	/* background: #eee url('../img/pattern.png'); */
	background-size: 200px 200px;
}

.title {
	font-family: Tahoma, sans-serif;
	text-align: center;
	font-weight: 700;
	letter-spacing: -2px;
	/* text-decoration: line-through; */
	text-transform: uppercase;
	/* text-decoration: dotted underline red; */
	text-decoration-style: dashed;
	text-decoration-line: overline;
	text-decoration-color: blue;
}

.justify {
	text-align: justify;
	font-weight: bold;
	font-style: italic;
	text-transform: capitalize;
}

ul {
	list-style-type: square;
	list-style-position: inside;

	font-family: Tahoma, sans-serif;
	color: gray;
}

ol {
	list-style-type: decimal-leading-zero;
}

.table {
	border: 2px solid black;
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

.table th {
	text-align: left;
	padding: 5px 10px 20px 15px;
	color: red;
}

.table td {
	border: 2px dashed black;
	padding: 5px 10px;
}

.table tfoot td {
	text-align: right;
}

.text-red {
	display: inline-block;
	width: 100px;

	color: red;
	font-weight: 700;
	font-style: italic;
}

.page {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

/* Post */

.post {
	width: 700px;
	height: 400px;
	padding: 15px 25px;
	/* margin-left: auto;
	margin-right: auto; */
	margin: 0 auto 20px;

	border: 1px solid #ddd;

	background-color: #fff;
	/* background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 200px 200px;
	background-position: center; */
	background: url('../img/bg.jpg') no-repeat center;
	background-size: cover;
}

.post-title {
	margin: 0 0 20px 0;
	color: yellow;
}

.post-text p {
	margin: 0 0 10px 0;
	color: #fff;
}

/* Gradient */
.gradient {
	width: 600px;
	height: 300px;
	margin: 0 auto;

	/* background-image: linear-gradient(to right, #fff 40%, #333 80%, #fff); */
	background-image: radial-gradient(circle, #fff, #333);
}

/* Form */

.form {
	width: 500px;
	padding: 20px;
	margin: auto;
	background-color: #fff;
}

.form-group {
	margin-bottom: 15px;
}

.form-input {
	display: block;
	padding: 5px;

	border: 1px solid #000;

	font-family: Arial, sans-serif;
	font-size: 15px;
}

.form-input:focus {
	outline: none;

	background-color: #7a7cf1;
}

.form-textarea {
	width: 200px;
	height: 150px;
	padding: 5px;

	border: 1px solid #000;
	outline: 3px solid red;
	outline-offset: 5px;

	font: bold italic 15px Arial, sans-serif;
}

.form-textarea:focus {
	outline: none;

	background-color: #7a7cf1;
}

.link {
	color: #1d76dd;
	text-decoration: none;
}

.link:visited {
	color: #a315b0;
}

.link:hover {
	text-decoration: underline;
}

.btn {
	padding: 5px 10px;
	background-color: green;
	border: 1px solid #3a9112;
	color: #fff;
}

.btn:focus {
	outline: none;
}

.btn:hover,
.btn:focus {
	background-color: #3a9112;
	cursor: pointer;
}

.btn:active {
	background-color: #c8720f;
}

.btn:disabled {
	background-color: gray;
	cursor: not-allowed;
}

.form-fieldset {
	margin-bottom: 20px;
	padding: 20px;
	border: 1px solid #ccc;

	/* border-width: 1px;
	border-style: solid;
	border-color: #ccc; */

	border-top: 0;
}

.form-title {
	margin: 0 0 15px;
}

/* Modal*/

.modal {
	width: 500px;
	height: 200px;
	margin: 20px auto;
	padding: 15px;

	position: relative;

	background-color: #ccc;
}

.modal-title {
	margin: 0;
	color: #1d76dd;
}

.square {
	width: 50px;
	height: 50px;
	background-color: black;

	position: absolute;
	right: -10px;
	top: -10px;
	z-index: 3;
}

.red {
	background-color: red;
	right: -5px;
	top: -5px;
	z-index: 2;
}

.square-fixed {
	width: 50px;
	height: 50px;
	margin-top: -25px;
	margin-left: -25px;

	background-color: #1165ad;

	position: fixed;
	top: 50%;
	left: 50%;
}
