body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.6;
	color: #333;

	background: #eee url('../img/pattern.png');
	background-size: 200px 200px;
}

.title {
	font-family: Tahoma, sans-serif;
	text-align: center;
	font-weight: 700;
	letter-spacing: -2px;
	/* text-decoration: line-through; */
	text-transform: uppercase;
}

.justify {
	text-align: justify;
	font-weight: bold;
	font-style: italic;
	text-transform: capitalize;
}

ul {
	list-style-type: square;
	list-style-position: inside;

	font-family: Tahoma, sans-serif;
	color: gray;
}

ol {
	list-style-type: decimal-leading-zero;
}

.table {
	border: 2px solid black;
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

.table th {
	text-align: left;
	padding: 5px 10px 20px 15px;
	color: red;
}

.table td {
	border: 2px dashed black;
	padding: 5px 10px;
}

.table tfoot td {
	text-align: right;
}

.text-red {
	display: inline-block;
	width: 100px;

	color: red;
	font-weight: 700;
	font-style: italic;
}

.page {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

/* Post */

.post {
	width: 700px;
	height: 400px;
	padding: 15px 25px;
	/* margin-left: auto;
	margin-right: auto; */
	margin: 0 auto 20px;

	border: 1px solid #ddd;

	background-color: #fff;
	/* background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 200px 200px;
	background-position: center; */
	background: url('../img/bg.jpg') no-repeat center;
	background-size: cover;
}

.post-title {
	margin: 0 0 20px 0;
	color: yellow;
}

.post-text p {
	margin: 0 0 10px 0;
	color: #fff;
}

/* Gradient */
.gradient {
	width: 600px;
	height: 300px;
	margin: 0 auto;

	/* background-image: linear-gradient(to right, #fff 40%, #333 80%, #fff); */
	background-image: radial-gradient(circle, #fff, #333);
}
