html {
	font-size: 15px;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	color: #121212;
}

.container {
	width: 500px;
	margin: 20px auto;
}

.btn {
	display: inline-block;
	padding: 0.53em 0.8em;

	font-size: 1rem;
	color: #fff;
	text-decoration: none;

	background-color: #d32f2f;
	border-radius: 0.4em;
	box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
}

.btn:hover {
	background-color: #cb2424;
}

.btn-s {
	font-size: 0.8rem;
}

.btn-m {
	font-size: 1.4rem;
}

.btn-x {
	font-size: 1.8rem;
}
