body {
	margin: 0;
	background-image: url('./img/pattern.png');
	background-attachment: fixed;
}

.container {
	width: 800px;
	height: 2000px;
	margin: 0 auto;
	background-image: linear-gradient(to top, #fff, #ccc);
}
