body {
	margin: 0;
	font-family: Arial, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	color: #121212;
	background: url('img/bg.png');
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
}

.page {
	width: 1000px;
	margin: 20px auto;
	background-color: #fff;
}

.container {
	display: flex;
}

.img {
	display: block;
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
}
.header {
	padding: 20px;
	background-color: #121212;
}

.header-title {
	color: #fff;
	margin: 0px;
	font-size: 24;
	text-align: center;
}

.header-subtitle {
	margin: 0;
	font-size: 16px;
	color: #56b6fb;
	text-align: center;
	font-weight: 4000;
}
.nav {
	display: flex;
	justify-content: center;
	text-align: center;
}
.nav-link {
	text-decoration: none;
	padding: 8px 12px;
	color: #121212;
	text-decoration: none;
	transition: background-color 0.2s linear;
}
.content-text {
	margin-bottom: 20px;
}
.nav-link:hover {
	background-color: #eee;
}
.intro-img {
	border-radius: 10px;
	box-shadow: 0 3px 5px #a7a7a7;
	transition: opacity 0.2s linear;
	background-color: #222222;
	opacity: 0.8;
}

.intro-img:hover {
	opacity: 1;
}
.content {
	width: 800px;
	padding: 0 20px;
}

.content-title {
	color: #ce2929;
	margin: 0 0 15px;
	font-size: 24px;
}

.read-more {
	color: #1d7abe;
	text-decoration: none;
}

.read-more:hover {
	text-decoration: underline;
}
.sidebar {
	width: 200px;
	background-color: #eee;
	padding: 10px;
}

.sidebar-title {
	margin-bottom: 20px;
	font-size: 16px;
	color: #e02525;
}
.article {
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
}
.sidebar-img {
	background: linear-gradient(to top, #fff, #eee);
}

.sidebar-text {
	font-size: 12px;
}

.article-title {
	margin: 0px 0 5px;
	font-size: 18px;
	color: #0d448e;
}

.article-title a {
	color: inherit;
	text-decoration: none;
}
.article-title a:hover {
	text-decoration: underline;
}
.article-date {
	display: block;
	font-size: 12px;
	color: #a4a4a4;
}
.footer {
	background-color: #121212;
	color: #fff;
	padding: 20px;
	text-align: center;
}
